aniso8601==9.0.1
astroid==2.15.6
attrs==23.1.0
cachelib==0.10.2
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.4
dill==0.3.6
dnspython==2.3.0
email-validator==1.1.3
emoji==2.7.0
Flask==2.0.2
Flask-Login==0.5.0
Flask-Minify==0.37
flask-restx==0.5.1
Flask-Session==0.4.1
Flask-WTF==1.0.0
gunicorn==20.1.0
htmlmin==0.1.12
idna==3.4
isort==5.12.0
itsdangerous==2.1.2
Jinja2==3.0.2
jsmin==3.0.1
jsonschema==4.18.2
jsonschema-specifications==2023.6.1
lazy-object-proxy==1.9.0
lesscpy==0.15.1
Mako==1.2.4
mariadb==1.1.7
MarkupSafe==2.1.3
mccabe==0.7.0
mongoengine==0.27.0
numpy==1.25.1
packaging==23.1
pipdeptree==2.12.0
platformdirs==3.9.1
ply==3.11
prettytable==3.8.0
pylint==2.17.4
pylint-flask==0.6
pylint-plugin-utils==0.8.2
pymongo==4.4.1
python-dotenv==0.19.2
pytz==2023.3
rcssmin==1.1.1
referencing==0.29.1
rpds-py==0.8.10
six==1.16.0
tomlkit==0.11.8
typing_extensions==4.7.1
wcwidth==0.2.6
Werkzeug==2.0.3
wrapt==1.15.0
WTForms==3.0.0
xxhash==3.2.0
