<!-- Content for the right sidebar goes here -->
<div class="p-3">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Please Enter The Company Details</h3>
                        </div>
                        <!-- /.card-header -->

                        <!-- form start -->
                        <form name="add-update-company-form" id="add-update-company-form" action="" method="post">

                            {{ form.hidden_tag() }}

                            <div class="card-body">

                                <!-- Errors displayed here -->
                                {% if msg %}
                                {% if msg_type == "error" %}
                                <div class="alert alert-danger alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert"
                                        aria-hidden="true">&times;</button>
                                    <h5><i class="icon fas fa-info"></i> Error!</h5>
                                    {{ msg | safe }}
                                </div>
                                {% endif %}
                                {% endif %}

                                <!-- Success msg displayed here -->
                                {% with messages = get_flashed_messages(category_filter=["success"]) %}
                                {% if messages %}
                                <div class="alert alert-success alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert"
                                        aria-hidden="true">&times;</button>
                                    <h5><i class="icon fas fa-check"></i> Success!</h5>
                                    {% for msg in messages %}
                                    {{ msg }}
                                    {% endfor %}
                                </div>
                                </ul>
                                {% endif %}
                                {% endwith %}


                                <div class="card card-secondary">
                                    <div class="card-header">
                                        <h3 class="card-title">Company Name:</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            {{ form.full_name(placeholder="Full Company Name", class="form-control") }}
                                        </div>
                                        <div class="form-group">
                                            {{ form.short_name(placeholder="Short Company Name", class="form-control") }}
                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                </div>

                                <div class="card card-secondary">
                                    <div class="card-header">
                                        <h3 class="card-title">Address Details:</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            {{ form.address_street_name_line_1(placeholder="Street Name 1", class="form-control") }}
                                        </div>
                                        <div class="form-group">
                                            {{ form.address_street_name_line_2(placeholder="Street Name 2", class="form-control") }}
                                        </div>
                                        <div class="form-group">
                                            {{ form.address_city(placeholder="City", class="form-control") }}
                                        </div>
                                        <div class="form-group">
                                            {{ form.address_country(placeholder="Select a Country", class="form-control select2bs4", style="width: 100%;") }}
                                        </div>
                                        <div class="form-group">
                                            <select id="{{ form.address_state.id }}"
                                                name="{{ form.address_state.name }}" class="form-control select2bs4"
                                                style="width: 100%;"
                                                data-placeholder="Select Country and then Choose State">
                                                {% for option in form.address_state %}
                                                {{ option }}
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            {{ form.address_zip(placeholder="Zip", class="form-control") }}
                                        </div>
                                    </div>
                                    <!-- /.card-body -->
                                </div>

                                <div class="card-footer">
                                    <button type="submit" name="add-update-company-submit"
                                        class="btn btn-primary">Submit</button>
                                    &nbsp; &nbsp;
                                    <button type="reset" id="reset-button" class="btn btn-primary">Reset</button>
                                </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </div>

            </div>
        </div>
    </section>
</div>